:root {
     --dark1: #151965;
     --dark2: #32407b;
     --dark3: #515585;
     --secondary: #46b5d1;
     --dark5: #222831;
     --dark6: #30475e;
     --dark7: #f2a365;
     --dark8: #ececec;
     --dark9: #1a1a2e;
     --dark10: #16213e;
     --dark11: #0f3460;
     --dark12: #e94560;

     --light1: #333333;
     --light2: #ffffff;
     --light3: #1a1a2e;
     --light4: #706c61;
     --light5: #f4f9f4;
     --light6: #a7d7c5;
     --light7: #74b49b;
     --light8: #5c8d89;
     --primary: #03ed66;
}

* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: "Nunito", sans-serif;
}

.home-navigation {
     background-color: var(--light5);
     border-bottom: solid #b6b6b6a8;
     padding: 0 5%;
}

.nav-bar {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.nav-bar-discord,
.nav-bar-github,
.nav-bar-youtube {
     width: 25px;
     margin: 10px;
}

.nav-bar-item-container {
     display: flex;
     justify-content: space-around;
     align-items: center;
}

.nav-bar-icon-container {
     padding-right: 20px;
}

.nav-bar-list {
     display: flex;
     list-style: none;
     padding: 0 10px;
     font-size: 18px;
}

.nav-bar-items {
     font-weight: 600;
     padding: 0 20px;
     color: var(--dark5);
}

.nav-bar-items a {
     text-decoration: none;
     color: var(--dark5);
}

.nav-bar-items a:hover,
nav-bar-navigation-down:hover {
     color: var(--secondary);
}

.nav-bar-button {
     padding: 9px 25px;
     font-size: 18px;
     color: var(--dark8);
     background-color: var(--secondary);
     border: none;
     border-radius: 9px;
     cursor: pointer;
     transition: all 0.3s ease 0s;
     text-decoration: none;
     font-weight: bolder;
}

.nav-bar-button:hover {
     color: var(--secondary);
     background-color: var(--dark8);
}

.heart {
     color: #b22222;
     animation: pulse 1s ease infinite;
}

@keyframes pulse {
     0% {
          transform: scale(0.75);
     }
     20% {
          transform: scale(1);
     }
     40% {
          transform: scale(0.75);
     }
     60% {
          transform: scale(1);
     }
     80% {
          transform: scale(0.75);
     }
     100% {
          transform: scale(0.75);
     }
}

.copyright-section {
     background-color: var(--light5);
     border-top: solid #b6b6b6a8;
     padding: 7px 5%;
     font-weight: 600;
     text-align: center;
     color: var(--light1);
     text-decoration: none;
     position: absolute;
     bottom: 0;
     width: 100%;
}

.copyright-section span {
     color: var(--secondary);
}
